@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-acowale-blue {
  color: #0866FF; /* Acowale’s blue */
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the layout container takes full viewport height */
}

.content {
  flex-grow: 1; /* This allows the content to grow and push the footer to the bottom */
}

.footer {
  /* background-color: #f0f0f0; Add your desired footer styling */
  padding: 1rem;
  text-align: center;
}
